<div class="wrapper wrapper-content animated fadeInRight" ng-init="loadListCategory()">
    <div class="row">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h2>Đăng hồ sơ và đợi duyệt</h2>
            </div>
            <div>
                <div class="ibox-content profile-content col-lg-12">
                    <form class="form-horizontal" ng-submit="submitCV()">
                        <div class="text-center m-t-lg">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Danh mục ngành nghề:</label>
                                <div class="col-md-10">
                                    <select class="form-control" ng-options="category as category.NameJobCategory for category in categories" ng-model="selectedCategories">
                                        <option value="" disabled selected hidden>Chọn một danh mục...</option>
                                    </select>
                                </div>
                                <!-- <label class="col-md-2 control-label">Danh mục ngành nghề:</label>
                                <div class="col-md-10">
                                    <input list="cate" class="form-control" placeholder="Chọn hoặc gõ tên danh mục ở đây...">
                                    <datalist id="cate" ng-model="selectedCategories" ng-change="changeDropdown($event)">
                                        <select >
                                            <option ng-repeat="category in categories" idcategory="{{category.CategoryID}}" value="{{category.NameJobCategory}}" >
                                                
                                            </option>
                                        </select>
                                    </datalist>
                                </div> -->
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Kinh nghiệm <font class="text-danger">(Năm)</font>:</label>
                                <div class="col-md-10">
                                    <touch-spin ng-model="iExprience" options="optionsVariable"></touch-spin>
                                </div>
                            </div>
                            <div class="form-group" id="data_1">
                                <label class="col-md-2 control-label">Bằng cấp:</label>
                                <div class="col-md-10">
                                    <input ng-model="iQualifications" type="text" tabindex="3" class="form-control"
                                        placeholder="vd: kỹ sư Công nghệ thông tin, ..." required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Thông tin chung:</label>
                                <div class="col-md-10">
                                    <textarea ng-model="iGeneralinformation" type="text" tabindex="4" class="form-control"
                                        rows="3" placeholder="Nhập thông tin thêm cho cv." required></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12 text-center">
                                <ng-include ng-src="'/partial_views/buttons/btnCancel.html'"></ng-include>
                                <button type="submit" class="btn btn-primary" tabindex="5">Đăng hồ sơ</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>