<nav class="navbar-default navbar-static-side" role="navigation">
	<div class="sidebar-collapse">
		<ul metis-menu class="nav metismenu" id="side-menu">
			<li class="nav-header">
				<div class="dropdown profile-element">
					<span>
						<img alt="image" class="img-circle" width="48px" ng-src="{{$root.info.Image}}">
					</span>
					<a data-toggle="dropdown" class="dropdown-toggle">
						<span class="clear">
							<span class="block m-t-xs">
								<strong class="font-bold" ng-bind="$root.info.FullName"></strong>
							</span> <span class="text-muted text-xs block" ng-bind="$root.info.NameUserType"> <b class="caret"></b></span>
						</span>
					</a>
					<ul class="dropdown-menu animated fadeInRight m-t-xs">
						<li><a ng-href="/#!/p/{{$root.info.UserAccountID}}">Trang cá nhân</a></li>
						<li class="divider"></li>
						<li ng-click="logout()"><a>Đăng xuất</a></li>
					</ul>
				</div>
				<div class="logo-element">
					FW+
				</div>
			</li>
			<li>
				<a ng-href="/#!/"><i class="fa fa-th-large"></i> <span class="nav-label">Trang tổng quan</span></a>
			</li>
			<li>
				<a>
					<i class="fa fa-address-card"></i>
					<span class="nav-label"> Hồ sơ</span>
					<span class="fa arrow"></span>
				</a>
				<ul class="nav nav-second-level collapse">
					<li>
						<a ng-href="/#!/ho-so/dang-ho-so"><i class="fa fa-file-text"></i> Đăng hồ sơ</a>
					</li>
					<li>
						<a ng-href="/#!/ho-so/danh-sach-ho-so-doi-duyet"><i class="fa fa-list-ul"></i> Hồ sơ đợi duyệt</a>
					</li>
					<li>
						<a ng-href="/#!/ho-so/danh-sach-da-duyet"><i class="fa fa-list-alt"></i> Hồ sơ đã duyệt</a>
					</li>
				</ul>
			</li>
			<li>
				<a>
					<i class="fa fa-sitemap"></i>
					<span class="nav-label"> Danh mục</span>
					<span class="fa arrow"></span>
				</a>
				<ul class="nav nav-second-level collapse">
					<li>
						<a ng-href="/#!/danh-muc/phan-loai-tho"><i class="fa fa-sliders"></i> Phân loại thợ</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</nav>