<div class="ibox-content m-b-sm border-bottom">
	<div class="row">
		<div class="col-sm-4">
			<div class="form-group">
				<label class="control-label" for="">Free field</label>
				<input type="text" name="" class="form-control">
			</div>
		</div>
		<div class="col-sm-2">
			<div class="form-group">
				<label class="control-label" for="">Free field</label>
				<input type="text" name="" class="form-control">
			</div>
		</div>
		<div class="col-sm-2">
			<div class="form-group">
				<label class="control-label" for="">Free field</label>
				<input type="text" name="" class="form-control">
			</div>
		</div>
		<div class="col-sm-4">
			<div class="form-group">
				<label class="control-label" for="">Free field</label>
				<select name="" class="form-control">
					<option value="1" selected>Enabled</option>
					<option value="0">Disabled</option>
				</select>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="form-group">
				<label class="col-form-label" for="">Free field</label>
				<div class="input-group date">
					<span class="input-group-addon">
					<i class="fa fa-calendar"></i></span>
					<input type="date" name="" class="form-control">
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="form-group">
				<label class="col-form-label" for="">Free field</label>
				<div class="input-group date">
					<span class="input-group-addon">
						<i class="fa fa-calendar"></i>
					</span>
					<input type="date" name="" class="form-control">
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="form-group">
				<label class="col-form-label" for="">Free field</label>
				<input type="text" name="" class="form-control">
			</div>
		</div>
	</div>
</div>