<div class="ibox-content m-b-sm border-bottom">
	<div class="row">
		<div class="col-sm-3 m-b-xs">
			<div ng-include="'partial_views/buttons/btnCreate.html'"></div>
		</div>
		<div class="col-sm-3 m-b-xs">
			<select class="form-control input-s-sm inline">
				<option ng-repeat="item in $root.seed.LIST_LIMIT_NUMBERS" ng-value="item.id" ng-bind="item.name"></option>
			</select>
		</div>
		<div class="col-sm-6">
			<div class="input-group">
				<input type="text" placeholder="Search" class="form-control"> <span class="input-group-btn">
					<button type="button" class="btn btn-primary">
						<i class="fa fa-search"></i>
					</button>
				</span>
			</div>
		</div>
	</div>
</div>